# 编译生成产物
__pycache__/
env/__pycache__
*.pyc
env/__pycache__/
MUJOCO_LOG.TXT
ppo_mobile_ai_obs_env_tensorboard
data/
piper_planner/
# pyroboplan/

tensorboard/
model_asserts/
*.egg-info
eggs/
.eggs/
pip-log.txt
pip-delete-this-directory.txt
.vscode
rule_based_planner/traj_planning/car_local_planner/src.zip
images/
submodules/vggt/
gs_hs.egg-info/SOURCES.txt
gs_hs.egg-info/top_level.txt
submodules/piper_sdk/
submodules/vggt
ppo_piper/
model_asserts.zip
lerobot/common/policies/egovla/laq/results/0721
lerobot/common/policies/egovla/laq/results
object_recon/
wandb/
blender/
lerobot/common/policies/egovla/laq/ckpt
lerobot/common/policies/egovla_
.idea

rule_based_planner/traj_planning/car_local_planner/build
rule_based_planner/traj_planning/car_local_planner/devel

gs_hs.egg-info/
.vscode/
global_map.pcd
visual_il/env/combined_waveforms.png
visual_il/env/smoothed_combined_waveforms.png
.idea/

