rerun-sdk==0.22.1
draccus==0.10.0
serial==0.0.1
pyserial==3.5b0
deepdiff==7.0.1
safetensors
termcolor==2.4.0
python-can
piper_sdk
opencv-python
pyrealsense2
datasets==2.19.0
jsonlines==4.0.0
av==14.2.0
# "imageio[ffmpeg]>=2.34.0"
einops==0.8.0
gymnasium==0.29.1
pynput==1.7.7
transformers==4.50.3
num2words==0.5.14
accelerate==1.7.0